@import url("./reset.css");

:root {
  font-size: 16px;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  --gray-color: #88888873;
  --text-gray: #383838;
  --field-hover: #80808078;
  --entry-hover: #80808038;
}

html * {
  box-sizing: border-box !important;
}

button.hide {
  display: none;
}

#root {
  background-color: #80808024;
  padding-bottom: 100px;
}
